.box {
    margin: 1rem 1rem 1rem 1rem;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-m {
    width: 22rem;
    height: 26rem;
    /* background-color: blue; */
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border: 2px solid black;
}


.card-m>span {
    width: 100%;
    height: 60%;
    /* background-color: yellow; */
    border-bottom: 2px solid black;
}

.card-m span img {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.card-m .title {
    margin-top: 5px;
}

.button {
    background-color: rgb(44, 44, 175);
    color: white;
    cursor: pointer;
    height: 25px;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin: 1px 0px 0px 0px;
}

.button:hover {
    background-color: rgb(187, 187, 238);
    color: blue;
    font-weight: bold;
    font-size: 1rem;
}

.cart {
    margin-top: 5px;
    width: 50%;
    height: 8.9%;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.cart>button {
    color: white;
    width: 100%;
    height: 100%;
    background-color: blue;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 10px;
}

.cart>button:hover {
    background-color: rgb(197, 197, 243);
    cursor: pointer;
    color: blue;
    font-weight: bold;
    font-size: 1rem;
}

.cont-details {
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cont-child-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cont-child-img {
    max-height: 20rem;
}

.cont-child-img>img {
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid brown;
}

.cont-child-price {
    margin-top: 20px;
    width: 10rem;
    text-align: center;
    border: 2px solid rgb(102, 93, 224);
    background-color: rgb(146, 137, 137);
}

.cont-child-price>span {
    color: white;
}

.cont-child-description {
    margin-top: 20px;
    text-align: center;
    width: 70%;
}

.cont-child-rating {
    margin-top: 15px;
}